
.auth-form {

    background-color: #1c1c1c; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
    max-width: 400px;
    margin: auto;
}

.auth-title {
    color: #00ffcc; 
    text-align: center;
    margin-bottom: 20px;
}

.auth-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #00ffcc; 
    border-radius: 5px;
    background-color: #2a2a2a; 
    color: #eaeaea; 
    margin-bottom: 15px;
    transition: border 0.3s;
}

.auth-input:focus {
    border-color: #ff00ff;
    outline: none;
}

.auth-button {
    padding: 10px;
    background-color: #00ffcc; 
    color: #121212; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s, transform 0.2s;
}

.auth-button:hover {
    background-color: #ff00ff;
    transform: scale(1.05); 
}
